bin/
build/
**/dist/
include/
lib/
local/
man/
**/venv/
**/.venv/
**/.coverage
*.egg-info
*.pem
*.pyc
.*.sw?
**/.idea
**/.vscode
**/*.json
**/.envrc
**/convert.py
**/convert_readme.sh
**/poetry.lock
**/python/publish.sh
**/pyproject_old.toml
rust/vapid/Cargo.lock
rust/vapid/target/
test/
